# pytorch~=1.13
transformers==4.28.0
# peft==0.2.0
git+https://github.com/huggingface/peft.git  # peft 0.2.0 has a harmless warning. see https://github.com/huggingface/peft/issues/324
accelerate==0.18.0
deepspeed==0.8.3  # a multi-gpus bug in 0.9.0 . see https://github.com/microsoft/DeepSpeed/issues/3228